<style>
.button {
  border: none;
  border-radius: 4px 4px; 
  color: white;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.5s;
  cursor: pointer;
  background-color: #4CAF50; 
  
}
.button1 a:link {
  color: #FFF;
  border-radius: 4px 4px;        
  background-color: #4CAF50; 
  
}

.button1 a:visited {
  color: white;
    border-radius: 4px 4px;        
  background-color: #4CAF50; 
  
}

.button1 a:hover {
  color: white;
    padding: 2px 4px;
    border-radius: 4px 4px;        
  background-color: #3FA043; 
  
}

.button1 a:active {
  color: white;
    border-radius: 4px 4px;        
  background-color: #4CAF50; 
  
}
}

.button1 {
  color: white;
  border-radius: 4px 4px;        
  background-color: #4CAF50; 
  
}


.button1:hover {
  background-color: #4CAF60;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

</style>


<div class="col-12 col-lg-10ish article-style">     
<p>Comments, error reports, suggestions and solutions are welcome</p>
<script src="https://utteranc.es/client.js"
        repo="gisma-courses/LV-uav-workflow"
        issue-term="title"
        label="comments"
        theme="github-light"
        crossorigin="anonymous" 
        async>
</script>
<p>Due to an occasionally faulty page redirection, a 404 error may occur. please use the alternative <button class="button button1"> <a href="https://api.utteranc.es/authorize?redirect_uri={{ .Page.Permalink }}">Sign in with GitHub</a></button></p>
    
</div>
