<div class="center-block">
  <div class="img-responsive">
    <a href="{{ include.url1 }}"><img alt="picture" width="310px" height="310px" src="{{ include.url1 }}"></a>
    <a href="{{ include.url2 }}"><img alt="picture" width="310px" height="310px" src="{{ include.url2 }}"></a>
    <a href="{{ include.url3 }}"><img alt="picture" width="310px" height="310px" src="{{ include.url3 }}"></a>
    <a href="{{ include.url4 }}"><img alt="picture" width="310px" height="310px" src="{{ include.url4 }}"></a>    
  </div>
</div>


